body {
    min-width:1040px;
}
#header {
    position:relative;
}
#branding {
    width:1040px;
    margin:0 auto;
}
#access {
    position:relative;
    overflow:hidden;
}
.menu {
    width:1040px;
    margin:0 auto;
}
#main {
    width:1040px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
#container {
    width:540px;
    float:left;
    margin:0 0 0 10px;
    padding:0 40px 0 0;
}
#content {
    overflow:hidden;
}
#primary {
    width:220px;
    float:left;
    margin: 0 0 0 0;
}
#secondary {
    width:220px;
    float:right;
    margin: 0 0 0 0;
    padding: 18px 0 0 0;
}
#footer {    
    clear:both;
}
#subsidiary {
    width:1020px;
    margin:0 auto;
    overflow:hidden;
}
#subsidiary .aside {
    width:300px;
    float:left;
    margin:0 10px 0 10px;
}
#subsidiary #third {
    margin:0 0 0 10px;
}
#siteinfo {
    clear:both;
    width:1000px;
    margin:0 auto;
}

/* =Page Templates
-------------------------------------------------------------- */

/*
    Full Width Template
*/

.page-template-template-page-fullwidth-php #container {
	margin:0;
	width:1000px;
}

.page-template-template-page-fullwidth-php #content {
	margin: 0 0 0 10px;
	width:1000px;
}

.page-template-template-page-fullwidth-php #comments {
    width:540px;
}
